/* Reset Dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
}

/* header */
.site-header {
background-color: #007bff;
color: white;
padding: 20px;
text-align: center;
}

.site-header nav ul {
    list-style: none;
    margin-top: 10px;
}

.site-header nav ul li {
    display: inline;
    margin: 0 10px;
}

.site-header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Main Content */
.main-content {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

.about-me, .learning-journey {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.about-me img {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #a88203ff;
}

/* footer */
.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}